*{
    margin: 0;
    padding: 0;
}

/* header start */
.header{
    background-color: #E8E3D2;
    padding: 20px;
    height: 100px;
}
.navbar{
    display:flex;
    justify-content: space-between; 
    align-items: center;
 
    
}
.logo{
    width:100px
}
.logo img{
    width: 100%;
    height: 100px;
}
.menu-text ul{
list-style: none;

display: flex;

}
.menu-text ul li{
font-size: 25px;
padding: 10px;
}
.menu-text ul li a{
    text-decoration: none;
}
.menu-button img{
width: 80px;
height: 50px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #E8E3D2;
    width: 100%;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.about{
    margin-top: 210px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 20px;
}
.right-about p{
    font-size: 20px;
}
.right-about ul{
    list-style: none;
}
.right-about ul li img{
    padding-top: 5px;
    width: 40px;
    height: 40px;
    align-items: center;
}
.service
{
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: bisque;
    padding-top: 10px;
    gap: 10px;
}
.card1{
    border: 1px solid peachpuff;
}
.card-img{
    align-items: center;
}
.card1 .card-img{
    align-items: center;
    padding-left: 90px;
    width: 50px;
    height: 50px;
}
.card1 .card-arrow{
    align-items: center;
    padding-left: 90px;
    width: 50px;
    height: 50px;
}
.feature{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
   
}
.feature1{
    border: 3px solid rosybrown;
    border-radius: 5px;
}
.f1{
    padding-left: 200px;
    height: 30px;
    width: 30px;
}
.f2{
    height: 30px;
    width: 30px; 
    
}
.feature p{
    display: inline-block;
}
.our{
    text-align: center;
    background-color: antiquewhite;
}
.testmonial{
    background-color: aliceblue;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}
.right-testmony img{
    width: 100%;
    height: 100%;
}
.left-testmony h2{
    text-align: center;
    color: blueviolet;
    text-decoration:skyblue;
}
.left-testmony p{
    text-align: justify;
    color: salmon;
    font-size: large;
}
.dot{
   
    width: 18px;
    height: 18px;
    border: 1px solid slategrey;
    border-radius: 50%;
    display:  inline-block;
    margin-top: 10px;
  l
    
}
.dot1{
    width: 18px;
    height: 18px;
    border: 1px solid slategrey;
    border-radius: 50%;
    display:  inline-block;
    margin-top: 10px; 
    background-color: black;
}
.appiont{
    height: 120px;
    background-color: chocolate;
    margin: auto;
    padding-top: 20px;
}
.appiont h2{
    text-align: center;
}
.appiont button{
   margin-left: 550px;
   margin-top: 20px;
}
.footer h2{
    height: 100px;
    background-color: bisque;
    text-align: center;
    padding-top: 50px;
}

/* header End */